.neoList {
  padding-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
  flex-direction: column;

  &__card {
    width: 1000px;
    display: flex;
    justify-content: center;
    gap: 25px;
    flex-wrap: wrap;
  }
}